@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: "Bebas Neue";
  background-color: black; }

body header {
  background-color: black;
  width: 100%;
  height: 800px;
  position: relative; }
  body header h1 {
    color: #fff;
    font-size: 20rem;
    position: relative;
    top: 20rem;
    min-width: 100px;
    min-height: 100px; }
    @media (max-width: 768px) {
      body header h1 {
        font-size: 12rem; } }
  body header .nav {
    position: sticky;
    top: 0;
    margin-top: 50vh; }
  body header nav ul li {
    margin: 1rem 3rem;
    transition: font-size 1s;
    transition: opacity .005s; }
    body header nav ul li:hover {
      font-size: 2.5rem;
      opacity: 50%; }
    body header nav ul li a {
      text-decoration: none;
      color: black; }
  body header .btn-wsp {
    position: fixed;
    bottom: 25px;
    right: 22px; }

body footer {
  background-color: black;
  padding-top: 1rem;
  text-align: center;
  grid-area: footer; }
  body footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body footer ul li {
      display: inline-block;
      width: 200px;
      height: 200px;
      min-width: 200px;
      min-height: 200px;
      background-color: white;
      border: 2px solid black;
      margin-bottom: 5rem;
      transition: rotate 0.5s; }
      body footer ul li:hover {
        rotate: -5deg; }
      @media (max-width: 768px) {
        body footer ul li {
          margin-right: 20px; } }
      body footer ul li a {
        text-decoration: none;
        color: black !important;
        display: inline-block;
        transform: translateY(280%);
        transition: opacity 0.5s; }
        body footer ul li a:hover {
          opacity: 50%; }
