footer {
    background-color: $color-principal;
    padding-top: 1rem;
    text-align: center;
    grid-area: footer;
    margin-top: 15rem;
    

    ul {
        display: flex;
    flex-direction: row;
    justify-content: center;

    li {
        
        display: inline-block;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    background-color: $segundo-color;
    border: 2px solid $color-principal;
    margin-bottom: 5rem;
    transition: rotate 0.5s;
    &:hover {
        rotate: -5deg;
    }
    @media (max-width:768px) {
        margin-right: 20px;
    }
    a {text-decoration: none;
        color: $color-principal !important;
        display: inline-block;
        
        transform: translateY(280%);
        transition: opacity 0.5s;
        &:hover {
            opacity: 50%;
        }
    }
    }
    }
}