@media (max-width:991px) {
    body {
         .principal {
        .filaPrincipal {
            .sectionA {
                p {
                    margin-top: 6rem;
        font-size: 2.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
            }
            .itemPrincipal {
                min-height: 300px;
                min-width: 300px;
                h2 {

                    margin-top: 20%;
                }
            }
        }

    }  
}
}
@media (max-width:400px) {
    body {
        .principal {
        
            .filaPrincipal {

                .itemPrincipal {
                    h2 {
                        margin-top: 35%;
                    }
                }
               
                .sectionA {
                    
                }
                .sectionB {
                    img {
                        width: 300px;
                    }
                    
                }
                .sectionC {
                    img {
                        width: 300px;
                    }
                }
                .sectionD {
                    
                }
        }
        }
}
    }

    @media (max-width:576px) {
       body {
          main {
            .imgGaleria {
                    
                    padding: 0rem 2rem 2rem 2rem;
                    height: 25rem;
                    width: auto;
                    object-fit: cover;
                
            }
        }
       } 
    }
   
    @media  (max-width:992px) {
        body {
            .quienesSomos {
                .filaQuienesSomos {
                    .itemQuienesSomos {
                        margin-bottom: 2rem;
                        padding: 0;
                        p {
                            height:auto;
                            font-size: 1.8rem;
                        }
                        img {
                            
                        }

                    }
                }
            }
        }
    }
    @media (min-width:992px) and (max-width:1199.9px) {
        body {
            .quienesSomos {
                .filaQuienesSomos {
                    .itemQuienesSomos {
                        margin-bottom: 2rem;
                        padding: 0;
                        p {
                            height:500px;
                            font-size: 1.8rem;
                        }
                        img {
                            
                        }

                    }
                }
            }
        }
    }
@media (max-width:767px) {
        .formContacto {
           .form {
                color: white;
                font-weight: none;
            }
        }
}